/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* PALETTE
- Buttons --> #0061ff
- Bg-main-top-boot --> #b4d0e7
- Bg-page --> White
- Bg-footer --> Black
*/

.bg-page{
    background-color: #ffff;
}

.bg-footer{
    background-color: #000000;
}

.bg-cyan{
    background-color: #b4d0e7;
}

/* BUTTONS */

.buttons{
    background-color: #0061ff;
    padding: 8px 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.btn-special{
    background-color: white;
    color: gray;
    text-decoration: none;
    cursor: pointer;
    padding: 8px 20px;
    border: 1px solid black;
    font-size: 20px;
}


/* GENERAL */

.flex{
    display: flex;
}

/* CONTAINER */

.container65{
    max-width: 65vw;
    margin: 0 auto;
    flex-wrap: wrap;
}

.container55{
   max-width: 55vw;
   margin: 0 auto;
   flex-wrap: wrap;
}



